<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="height: 900vh;">
    <%= htmlWebpackPlugin.options.widgets.header %>
    <canvas class="spline-canvas"></canvas>
    <div class="stack">
        <button class="button" id="join_model">
            JOIN_MODEL
        </button>
        <button class="button" id="break_model">
            BREAK_MODEL
        </button>
        <button class="button" id="rotate_side_1">
            ROTATE_SIDE_1
        </button>
        <button class="button" id="rotate_reverse_side_1">
            ROTATE_REVERSE_SIDE_1
        </button>
        <button class="button" id="rotate_side_2">
            ROTATE_SIDE_2
        </button>
        <button class="button" id="rotate_reverse_side_2">
            ROTATE_REVERSE_SIDE_2
        </button>
        <button class="button" id="make_blue_color">
            MAKE_BLUE_COLOR
        </button>
        <button class="button" id="make_normal_color">
            MAKE_NORMAL_COLOR
        </button>
        <button class="button" id="make_blue_bg">
            MAKE_BLUE_BG
        </button>
        <button class="button" id="make_normal_bg">
            MAKE_NORMAL_BG
        </button>
        -----------------
        <button class="button-active" id="0">
            DEFAULT POSITION
        </button>
        <button class="button-active" id="1">
            ANIMATE 1
        </button>
        <button class="button-active" id="2">
            ANIMATE 2
        </button>
        <button class="button-active" id="3">
            ANIMATE 3
        </button>
    </div>
    <%= htmlWebpackPlugin.options.widgets.footer %>
</body>
</html>
