<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="height: 900vh;">
    <%= htmlWebpackPlugin.options.widgets.header %>
    <canvas class="spline-canvas"></canvas>
    <div class="stack">
<!--        <button class="button" id="join_model">-->
<!--            JOIN_MODEL-->
<!--        </button>-->
<!--        <button class="button" id="break_model">-->
<!--            BREAK_MODEL-->
<!--        </button>-->
<!--        <button class="button" id="rotate_side_1">-->
<!--            ROTATE_SIDE_1-->
<!--        </button>-->
<!--        <button class="button" id="rotate_reverse_side_1">-->
<!--            ROTATE_REVERSE_SIDE_1-->
<!--        </button>-->
<!--        <button class="button" id="rotate_side_2">-->
<!--            ROTATE_SIDE_2-->
<!--        </button>-->
<!--        <button class="button" id="rotate_reverse_side_2">-->
<!--            ROTATE_REVERSE_SIDE_2-->
<!--        </button>-->
<!--        <button class="button" id="make_blue_color">-->
<!--            MAKE_BLUE_COLOR-->
<!--        </button>-->
<!--        <button class="button" id="make_normal_color">-->
<!--            MAKE_NORMAL_COLOR-->
<!--        </button>-->
<!--        <button class="button" id="make_blue_bg">-->
<!--            MAKE_BLUE_BG-->
<!--        </button>-->
<!--        <button class="button" id="make_normal_bg">-->
<!--            MAKE_NORMAL_BG-->
<!--        </button>-->

        <button class="button-active" id="0">
            DEFAULT POSITION
        </button>
        <button class="button-active" id="1">
            ANIMATE 1
        </button>
        <button class="button-active" id="2">
            ANIMATE 2
        </button>
        <button class="button-active" id="3">
            ANIMATE 3
        </button>
        <button class="button-active" id="4">
            ANIMATE 4
        </button>
        <button class="button-active" id="5">
            ANIMATE 5
        </button>
        <button class="button-active" id="6">
            ANIMATE 6
        </button>
        <button class="button-active" id="7">
            ANIMATE 7
        </button>
        <button class="button-active" id="8">
            ANIMATE 8
        </button>
        <button class="button-active" id="9">
            ANIMATE 9
        </button>
        <button class="button-active" id="10">
            ANIMATE 10
        </button>
        <button class="button-active" id="11">
            ANIMATE 11
        </button>
        <button class="button-active" id="12">
            ANIMATE 12
        </button>
        <button class="button-active" id="13">
            ANIMATE 13
        </button>
        <button class="button-active" id="14">
            ANIMATE 14
        </button>
        <button class="button-active" id="15">
            ANIMATE 15
        </button>
        <button class="button-active" id="16">
            ANIMATE 16
        </button>
        <button class="button-active" id="17">
            ANIMATE 17 (брейк)
        </button>
        <button class="button-active" id="18">
            ANIMATE 18
        </button>
        <button class="button-active" id="19">
            ANIMATE 19
        </button>
        <button class="button-active" id="20">
            ANIMATE 20
        </button>
        <button class="button-active" id="21">
            ANIMATE 21
        </button>
        <button class="button-active" id="22">
            ANIMATE 22
        </button>
        <button class="button-active" id="23">
            ANIMATE 23
        </button>
        <button class="button-active" id="24">
            ANIMATE 24
        </button>
        <button class="button-active" id="25">
            ANIMATE 25
        </button>
        <button class="button-active" id="26">
            ANIMATE 26
        </button>
        <button class="button-active" id="27">
            ANIMATE 27
        </button>
        <button class="button-active" id="28">
            ANIMATE 28
        </button>
    </div>
    <%= htmlWebpackPlugin.options.widgets.footer %>
</body>
</html>
